* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

body {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input:not([type=checkbox]):not([type=submit]) {
    width: 100%;
}

button, input[type=submit] {
    width: fit-content;
    padding: 10px;
}

.error {
    color: red;
    font-weight: bold;
}


table {
    width: 100%;
}